// colors
$white:                     #ffffff;
$black:                     #000000;
$blackLight:                rgba($black,.87);

$orange:                    #ff5a5a;


// typography
$fontXxs:      12px;
$fontXs:       14px;
$fontSm:       16px;
$fontMd:       18px;
$fontL:        20px;
$fontXl:       24px;
$fontXxl:      30px;

$thin:          100;
$extraLight:    200;
$light:         300;
$regular:       400;
$medium:        500;
$semiBold:      600;
$bold:          700;
$extraBold:     800;
$heavy:         900;


// queries
$mediaLg: 1570px;
$mediaMd: 1200px;
$mediaSm: 970px;
$mediaXs: 780px;
$mediaXxs: 500px;